?xml version="1.0"?>
<phpunit
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         processIsolation="false"
         syntaxCheck="true">

    <!-- Define directories/files filter for code coverage. -->
    <filter>
        <!-- Per default, skip all files. -->
        <blacklist>
            <directory suffix=".php">..</directory>
        </blacklist>

        <!-- Define directories to include. -->
        <whitelist>
            <directory suffix=".php">..</directory>
        </whitelist>
    </filter>
</phpunit>

